################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin/x86
/install/x86
/out/build/x86-Debug
/.vs
*.json
/cpp.hint
